# Security & Environment
.env
.env.test
.env.local

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor/OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Downloads/Temp Files
tmp/

# Build/Dist
dist/
build/
